$fuente_principal : "Nunito", serif;

// Colores
$morado: #5603ad;
$violeta: #8367c7;
$verde: #b3e9c7;
$lima: #f0fff1;
$negro : #000000;
$blanco: #ffffff;

//Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;